# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      #- image: circleci/openjdk:8-jdk
      - image: circleci/android:api-25-alpha
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb
    
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build.gradle" }}
          - v1-dependencies-{{ checksum "app/build.gradle" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      #- run: sudo chmod +x ./gradle
      - run: sudo chmod +x ./gradlew
      #- run: gradle dependencies
      - run: ./gradlew androidDependencies    
      - run: ./gradlew assembleRelease
        
      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}
        
      # run tests!
      - run: ./gradlew test
     
  test_unit:
    <<: *android_config
    steps:
      - checkout
      - *restore_cache
      - *save_cache

      - run:
          name: ./gradlew -PciBuild=true :mobile:testDebugUnitTest
      - *persist_debug_workspace
      - store_artifacts:
          path: mobile/build/reports/
          destination: /reports/
      - store_test_results:
          path: mobile/build/test-results/
          destination: /test-results/
